@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* --- GENERAL SETUP --- */
:root {
    font-family: 'Inter', sans-serif;
    /* Colors */
}

/* --- TYPOGRAPHY --- */
a,
a:visited,
a:active {
    text-decoration: none;
}