@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* --- GENERAL SETUP --- */
:root {
    font-family: 'Inter', sans-serif;
    /* Colors */
    --white: #FFF;
    --black: #121212;
    --grey-dark-1: #2E2E2F;
    --grey-dark-2: #4B4B4B;
    --grey-lighter: #A5A5A5;
}

/* --- TYPOGRAPHY --- */
.title {
    font-size: 1.5rem;
    font-weight: 800;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.redirect-btn {
    font-size: 0.8rem;
    font-weight: 700;
}

/* --- HEADER --- */
.header {
    background-image: url("/assets/images/header-background.png"), linear-gradient(rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.609));
    background-blend-mode: overlay;
    background-size: cover;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    /* position: relative; */
}

/* --- MAIN SECTION --- */
.main-container {
    background: var(--black);
    height: 100vh;
    position: relative;
}

.header,
.main-container {
    padding: 0 2em;
}

input {
    background-color: var(--grey-dark-1);
}

/* --- FORM --- */

.form-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    padding-right: 2em;
}

.form {
    display: flex;
    justify-content: space-between;
    background: var(--grey-dark-1);
    width: 100%;
    border-radius: 6px;
}

.user-search,
.search-btn {
    font-size: 0.875rem;
    padding: 0.7em 3em;
}

.user-search {
    background-image: url("/assets/images/search-icon.png");
    background-repeat: no-repeat;
    background-position: 1em 0.7em;
    border: none;
    border-radius: 6px;    
    color: var(--grey-lighter);
    width: 100%;
}

.search-btn {
    background-color: var(--grey-dark-2);
    color: var(--white);
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

