@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* --- GENERAL SETUP --- */
:root {
    font-family: 'Inter', sans-serif;
    /* Colors */
    --white: #FFF;
    --black: #121212;
    --grey-dark-1: #2E2E2F;
    --grey-dark-2: #4B4B4B;
    --grey-lighter: #A5A5A5;
}

/* --- TYPOGRAPHY --- */
.title {
    font-size: 1.5rem;
    font-weight: 800;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.redirect-btn {
    font-size: 0.8rem;
    font-weight: 700;
}

/* --- HEADER --- */
.header {
    background-image: url("/assets/images/header-background.png"), linear-gradient(rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.609));
    background-blend-mode: overlay;
    background-size: cover;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    /* position: relative; */
}

/* --- MAIN SECTION --- */
.main-container {
    background: var(--black);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header,
.main-container {
    padding: 0 2em;
}

input {
    background-color: var(--grey-dark-1);
}

/* --- FORM --- */
.form-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    padding-right: 2em;
}

.form {
    display: flex;
    justify-content: space-between;
    background: var(--grey-dark-1);
    width: 100%;
    border-radius: 6px;
}

.user-search,
.search-btn {
    font-size: 0.875rem;
    padding: 0.7em 3em;
}

.user-search {
    background-image: url("/assets/images/search-icon.png");
    background-repeat: no-repeat;
    background-position: 1em 0.7em;
    border: none;
    border-radius: 6px;    
    color: var(--grey-lighter);
    width: 100%;
}

.search-btn {
    background-color: var(--grey-dark-2);
    color: var(--white);
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* --- SEARCH RESULTS INIT --- */
.search-result-init {
    margin: 13em auto;
    text-align: center;
    color: var(--grey-dark-1);
}

.info-text {
    font-weight: 700;
    margin: 0;
}

/* --- SEARCH RESULTS --- */
.movie-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 4em;
}

.movie-img {
    max-width: 100px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-header,
.movie-details {
    display: flex;
    align-items: center;
}

.movie-header {
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.movie-title {
    font-size: 1.125rem;
    font-weight: 400;
}

.movie-rating-icon {
    width: 13px;
    height: 13px;
}

.movie-rating,
.movie-details,
.remove-btn {
    font-size: 0.75rem;
}

.movie-rating {
    padding-top: 0.2em;
}

.movie-details {
    gap: 1em;
}

.remove-btn {
    background: none;
    color: var(--white);
    border: none;
    font-weight: 400;
}

.remove-icon {
    background: var(--white);
    border-radius: 50%;
    color: var(--black);
    padding: 0 0.4em 0.1em 0.4em;
    font-weight: 800;
    margin-right: 0.3em;
}

.movie-description {
    margin-top: 0.5em;
}

.movie-description-text {
    font-size: 0.875em;
    color: var(--grey-lighter);
    line-height: 1.3;
}

.read-more-btn {
    background: none;
    border: none;
    color: var(--white);
}